@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="banner">
    <img src="~/Banner/DinoDiner-32.png" />
</div>

<a asp-page="/Menu">Menu</a>
<br />
<a asp-page="/Privacy">Privacy Policy</a>
<br />
<a asp-page="About">About</a>