@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/Banner/DinoDiner-32.png"/>


<a asp-page="/Menu">Menu</a>
<br />
<a asp-page="/Privacy">Privacy Policy</a>
<br />
<a asp-page="About">About</a>